// Place all the styles related to the Base_Point controller here.
/* 拠点情報テーブル */
#table-base {
    th {
      vertical-align: middle;
      text-align: center;
      border-bottom: 1px;
    }
    td {
      vertical-align: middle;
      background-color:#f5f5f5;
      
    }  
  }

/* 入力フォーム */
.label-add_base_point {
    margin-top: 5px;
  }

.label-base_point--edit {
    margin-top: 5px;
  }

/* ユーザー情報下ボタン */

.btn-base_point--edit {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* ユーザー情報下ボタン */

.btn-add_base_point {
    margin-top: 10px;
    margin-bottom: 10px;
  }