/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.user-table tbody tr td {
  vertical-align:bottom;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

.search_user {
display:inline-block;
float:right;
}

.form-cont {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

.btn-users-log {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-users-text {
  margin-bottom: 5px;
}

.btn-basic_info-edit {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}
/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.label-basic-info {
  margin-top: 5px;
}

.label-user--all {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.btn-user--all {
  margin: 10px;
}

.btn-user--all--csv {
  margin-top: 10px;
}

#table-users {
  td {
    vertical-align: middle;
  }  
}

#table-susers {
  th {
    vertical-align: middle;
    text-align: center;
    width:50%;
    border-bottom: 1px;
  }
  td {
    vertical-align: middle;
  }  
}